/*Style générique des titres*/
@font-face {
    font-family: '3dumbregular';
    src: url('../Fonts/3Dumb-webfont.eot');
    src: url('../Fonts/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/3Dumb-webfont.woff2') format('woff2'),
         url('../Fonts/3Dumb-webfont.woff') format('woff'),
         url('../Fonts/3Dumb-webfont.ttf') format('truetype'),
         url('../Fonts/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    background-image: url("../Images/fond.jpg");
    background-repeat: no-repeat;
}
h1{
    color: blue;
    font-weight: bolder;
    text-align: center;
    border: 3px solid white;
    font-family: '3dumbregular', 'Arial', sans-serif;
}
h2{
    color: chocolate;
    font-weight: bold;
    text-shadow: 6px 6px 6px grey;
    text-align: center;
    font-family: '3dumbregular', 'Arial', sans-serif;
}
h3{
    color: darkolivegreen;
    font-family: '3dumbregular', 'Arial', sans-serif;
}
