/*Ajout d'une police personnalisée*/
@font-face {
    font-family: '3dumbregular';
    src: url('../Fonts/3Dumb-webfont.eot');
    src: url('../Fonts/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/3Dumb-webfont.woff2') format('woff2'),
         url('../Fonts/3Dumb-webfont.woff') format('woff'),
         url('../Fonts/3Dumb-webfont.ttf') format('truetype'),
         url('../Fonts/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Fond d'écran*/
body{
    background-image: url("../Images/fond.jpg");
    background-repeat: no-repeat;
}
/*Flexbox*/
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/*Logo du CV*/
img{
}
/*Mise en page du menu*/
header li{
    color: white;
    list-style-type: none;
}
header li:hover{
    color: blueviolet;
}
/*Personnalisation des titres*/
#prenomNom{
    color: blue;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    border: 3px solid white;
    border-radius: 20px;
    padding: 12px;
    font-family: '3dumbregular', 'Arial', sans-serif;
}
h2{
    color: chocolate;
    font-weight: bold;
    text-shadow: 6px 6px 6px grey;
    text-align: center;
    font-family: '3dumbregular', 'Arial', sans-serif;
}
section{
    margin-left: 100px;
}
section h1{
    color: rgb(199, 206, 173);
    font-family: '3dumbregular', 'Arial', sans-serif;
}
section li{
    color: black;
}
main{
    border: 2px solid chocolate;
    margin: 20px 90px 50px 90px;
    background-color: rgba(36, 34, 34, 0.4);
}
footer{
    text-align: center;
}